<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta title=<%= name %> Dox>
    <meta name="description" content="The Dox of <%= name %>">

    <title><%= name %> Dox </title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background-color: #333;
            color: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .code-box {
            background-color: #222;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 80%;
            max-width: 1920px;
            overflow: auto;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <div class="code-box">
        <%= content %>
    </div>
</body>
</html>
